/*
  Part of the Processing Fullscreen API

  This library is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public
  License as published by the Free Software Foundation; either
  version 3 of the License, or (at your option) any later version.

  This library is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Lesser General Public License for more details.

  You should have received a copy of the GNU General
  Public License along with this library; if not, write to the
  Free Software Foundation, Inc., 59 Temple Place, Suite 330,
  Boston, MA  02111-1307  USA
*/

/* Javadoc style sheet */
/* Define colors, fonts and other style attributes here to override the defaults */
/* processingLibs style by andreas schlegel, sojamo */


body {
	margin : 0;
	padding : 0;
	padding-left : 10px;
	padding-right : 8px;
	background-color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size : 100%; 
    font-size : 0.7em;
	font-weight : normal;
	line-height	: normal;
	margin-bottom:30px;
}




/* Headings */
h1, h2, h3, h4, h5, th {
	font-family :Arial, Helvetica, sans-serif; 	
	font-size:1.2em;
}


p { 
	font-size : 1em; 		
	width:80%;
}

pre, code {  
	font-family : "Courier New", Courier, monospace; 
	font-size : 12px; 
	line-height : normal;
}



table {
	border:0;
	margin-bottom:10px;
	margin-top:10px;
}


tr, td {
	border-top: 0px solid;
	border-left: 0px solid;
	padding-top:8px;
	padding-bottom:8px;
}



hr {
	border:0;
	height:1px;
	padding:0;
	margin:0;
	margin-bottom:4px;

}



dd, th, td, font {
	font-size:1.0em;
	line-height:1.0em;
}



dt {
	margin-bottom:0px;
}



dd {
	margin-top:2px;
	margin-bottom:4px;
}



a {
	text-decoration: underline;
	font-weight: normal;
}

a:hover, 
a:active {
	text-decoration: underline;
	font-weight: normal;
}

a:visited,
a:link:visited {
	text-decoration: underline;
	font-weight: normal;
}


img {
	border: 0px solid #000000;
}



/* Navigation bar fonts */
.NavBarCell1    { 
	border:0;
}

.NavBarCell1Rev {
	border:0;
}

.NavBarFont1 { 
	font-family: Arial, Helvetica, sans-serif;  
	font-size:1.1em;
}


.NavBarFont1 b {
	font-weight:normal;
}



.NavBarFont1:after, .NavBarFont1Rev:after {
	font-weight:normal;
	content: " \\";
}


.NavBarFont1Rev { 
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.1em;
}

.NavBarFont1Rev b { 
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.1em;
	font-weight:normal;
}

.NavBarCell2    { 
	font-family: Arial, Helvetica, sans-serif; 
}

.NavBarCell3    { 
	font-family: Arial, Helvetica, sans-serif;
}



font.FrameItemFont {
	font-family: Helvetica, Arial, sans-serif;
	font-size:1.1em;
	line-height:1.1em;
}

font.FrameHeadingFont {
	font-family: Helvetica, Arial, sans-serif;
	line-height:32px;
}

/* Font used in left-hand frame lists */
.FrameTitleFont   { 
	font-family: Helvetica, Arial, sans-serif 
}


.toggleList { 
	padding:0;
	margin:0;
	margin-top:12px;
}

.toggleList dt {
 	font-weight:bold;
 	font-size:12px;
 	font-family:arial,sans-serif;
	padding:0px;
	margin:10px 0px 10px 0px;
}

.toggleList dt span { 
	font-family: monospace;
	padding:0;
	margin:0;
}

 
.toggleList dd {
	margin:0;
	padding:0; 
}

html.isjs .toggleList dd { 
  display: none; 
}

.toggleList pre {
	padding: 4px 4px 4px 4px;
}





/* COLORS */

pre, code {  
	color: #000000;
}


body {
	color : #333333;
	background-color :#FFFFFF;
}


h1, h2, h3, h4, h5, h6 {
	color:#555;
}

a, 
.toggleList dt {
	color: #1a7eb0;
}

a:hover, 
a:active {
	color: #1a7eb0;
}

a:visited,
a:link:visited {
	color: #1a7eb0;
}

td,tr {
	border-color: #999999;
}

hr {
	color:#999999;
	background:#999999;
}


.TableHeadingColor     { 
	background: #dcdcdc;
	color: #555;
}


.TableSubHeadingColor {
	background: #EEEEFF 
}

.TableRowColor {
	background: #FFFFFF 
}


.NavBarCell1    { 
	background-color:#dcdcdc; 
	color:#000; 
}

.NavBarCell1 a { 
	color:#333;
}


.NavBarCell1Rev {
	background-color:transparent;
}

.NavBarFont1    { 
	color:#333; 
}


.NavBarFont1Rev { 
	color:#fff; 
}

.NavBarCell2 { 
	background-color:#999; 
}

.NavBarCell2 a { 
	color:#fff; 
}



.NavBarCell3    { 
	background-color:#dcdcdc;
}

